*body{
	
  box-sizing:border-box
  
}

h2{
	color:#0000CC;
	text-align:center;
	
}
.image{
	position:absolute;
	margin:300px 0px 0px 850px;
	
	
	
	}
fieldset{
	margin:0px 10px;
	width:50%;
	cursor:pointer;
	background-color:aliceblue;
	
}
#name{
	
	width:80%;
}

#button{
	margin:0px 10px;
	padding:10px;
	cursor:pointer;
	background-color:salmon;
	width:50.5%;
	
}